.position {
  margin-top: 100px;
  margin-left: 450px; 
  margin-right: 500px;
  background-color: rgb(218, 173, 77);
  border-radius: 50px 50px 50px 50px;
}

.left {
  margin-left: 100px;
}

#center {
  margin-left: 100px;
}