.normal {
background-color: grey;
}

.fire {
  background-color: red;
}

.grass {
  background-color: green;
}

.electric {
  background-color: yellow;
  color: black;
}

.psychic {
  background-color: purple;
}

.ice {
  background-color: rgb(118, 230, 255);
}

.water {
  background-color: blue;
}

.bug {
  background-color: rgb(129, 255, 129);
}

.dragon {
  background-color: indianred;
}

.ground {
  background-color: brown;
}

.fighting {
  background-color: rgb(128, 69, 69);
}

.rock {
  background-color: burlywood;
}

.steel {
  background-color: rgb(199, 199, 199);
}

.ghost {
  background-color: rgb(101, 21, 101);
}

.fairy {
  background-color: pink;
}

.flying {
  background-color: plum;
}

.dark {
  background-color: rgb(60, 0, 0);
}

.poison {
  background-color: rgb(101, 56, 101);
}